<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <title>Angular Advanced</title>

        <link rel="stylesheet" href="css/reveal.css">
        <link rel="stylesheet" href="css/theme/white.css">
        <link rel="stylesheet" href="css/presentation.css">

        <!-- Theme used for syntax highlighting of code -->
        <link rel="stylesheet" href="lib/css/zenburn.css">

        <!-- Printing and PDF exports -->
        <script>
            var link = document.createElement( 'link' );
            link.rel = 'stylesheet';
            link.type = 'text/css';
            link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
            document.getElementsByTagName( 'head' )[0].appendChild( link );
        </script>
    </head>
    <body>
        <div class="reveal">
            <div class="slides">
                <section>
                    <h1>Angular Advanced</h1>
                    <h2>Educacion IT</h2>
                    <h4>Ing. Andres Otaduy</h4>
                    <a href="https://github.com/aotaduy">https://github.com/aotaduy</a>
                </section>

                <section data-markdown>
                  <script type="text/template">
                    ## Installation
                    install git https://git-scm.com/downloads

                    For Linux - Mac OSX
                    Install nvm (Node Version Manager)
                    https://github.com/creationix/nvm

                    ````
                    nvm install 6
                    ````
                    For Windows
                    You can use:
                    https://github.com/hakobera/nvmw
                    and then
                    ````
                    nvm install 6
                    ````
                    Clone:
                    ````
                    git clone https://github.com/aotaduy/angular-phonecat-14.git
                    git clone https://github.com/aotaduy/angular-example.git
                    On each directory
                    npm install
                    ````

                  </script>
                </section>

                <section>
                <h2>Structure of a project</h2>
                <ul>
                  <li>
                    Feature based hirearchy vs component type hierarchy
                  </li>
                  <li>
                    File names: name.type<b>.js</b> ie: movies.controller.js
                  </li>
                  <li>
                    Unit tests name.type<b>.spec.js</b> movies.controller.spec.js

                  </li>

                </ul>
                </section>
                <section>
                    <section>
                        <h2>Use a build process</h2>
                        <ul>
                            <li>Separate dev from deploy </li>
                            <li>Minify and optimize html, css, js</li>
                            <li>Lint and check format </li>
                            <li>Automate tasks (deploy, test,)</li>
                            <li>Use githooks</li>

                        </ul>
                        <div>
                            <img src="img/gulp.png" height="250" >
                            <img src="img/grunt.png" height="250">
                        </div>
                    </section>
                    <section>
                        <h2>Separate dev from deploy</h2>
                        <h3 class="code">dev</h3>

                        <div class="">
                            <div class="column-2">
                                <pre>
app/
    app.module.js
    app.config.js
    components/
        calendar.directive.js
        user-profile.directive.js
        user-profile.directive.html
    layout/
        shell.html
        shell.controller.js
        shell.controller.spec.js
        topnav.controller.js
        topnav.controller.spec.js
    sessions/
        sessions.html
        sessions.controller.js
        sessions.routes.js
        session-detail.html
        session-detail.controller.js
    </pre>



                            </div>
                            <div class="column-2">
<pre>
people/
    attendees.html
    attendees.controller.js
    people.routes.js
    speakers.html
    speakers.controller.js
    speaker-detail.html
    speaker-detail.controller.js
    people.e2e.spec.js
services/
    data.service.js
    localstorage.service.js
    logger.service.js
    spinner.service.js
</pre>
                            </div>
                        </div>
                    </section>
                    <section>
                        <h2>Separate dev from deploy</h2>
                        <h3 class="code">deploy</h3>
                                <pre>
dist/
    index.html
    js/
        app094hgt.min.js
        vendor065htui.min.js
    css/
        app465rte.min.css
        vendor543rte.min.css
    </pre>
                    </section>
					<section>
						<h2>Minify and Optimize</h2>
						<ul>
							<li>uglify</li>
							<li>babel</li>
							<li>postcss autoprefixer</li>
							<li>postcss usedcss</li>
							<li>huge etc...</li>
						</ul>
					</section>
					<section>
						<h2>Linting</h2>
						<ul>
							<li>eslint, jshint, jscs</li>
							<li>csslint</li>
							<li>htmlhint</li>
						</ul>
						<p>
							configure the rules for each project, add githooks if the team is large
						</p>
					</section>
          <section data-markdown>
              <script type="text/template">
                  ## Gulp.js
                  Install
                  ```sh
                  $ npm install --global gulp-cli
                  ```
                  Install gulp in your project devDependencies:

                  ```sh
                  $ npm install --save-dev gulp
                  ```
                  Create a `gulpfile.js` at the root of your project:

                  ```js
                  var gulp = require('gulp');

                  gulp.task('default', function() {
                    // place code for your default task here
                  });
                  ```
                  Run gulp:
                  ```sh
                  $ gulp
                  ```
              </script>
          </section>
          <section data-markdown>
              <script type="text/template">
                  ## Gulp.js example
                  ```js
                  var concat = require('gulp-concat');

                  gulp.task('scripts', function() {
                    return gulp.src('./lib/*.js')
                      .pipe(concat('all.js'))
                      .pipe(gulp.dest('./dist/'));
                  });
                  ```
                  - `gulp.src(globs[, options])` Returns a [stream](http://nodejs.org/api/stream.html) of [Vinyl files](https://github.com/gulpjs/vinyl-fs)
                  that can be [piped](http://nodejs.org/api/stream.html#stream_readable_pipe_destination_options)
                  to plugins.
                  - `gulp.dest(path[, options])` it will write files. Re-emits all data passed.
                  -  `readable.pipe(destination[, options])` it will pipe contents and path of fles
              </script>
          </section>
          <section data-markdown>
              <script type="text/template">
                  ## Gulp.js tasks
                  gulp.task(name [, deps] [, fn])
                  ```js
                  gulp.task('somename', function() {
                    // Do stuff
                  });
                  ```
                  ```js
                  gulp.task('mytask', ['array', 'of', 'task', 'names'], function() {
                    // Do stuff after tasks on array are completed
                  });
                  ```
                  ```js
                  gulp.task('build', ['array', 'of', 'task', 'names']);
                  // The tasks will run in parallel (all at once).
                  ```
                  ```js
                  gulp.task('buildStuff', function() {
                    // Do something that "builds stuff"
                    var stream = gulp.src(/*some source path*/)
                    .pipe(somePlugin())
                    .pipe(someOtherPlugin())
                    .pipe(gulp.dest(/*some destination*/));

                    return stream;
                    });
                  ```
              </script>
          </section>
          <section>
              <h2>Exercise</h2>
              <p>Create a set of gulp tasks that creates in the folder dist/
          </p>
          <ul>
              <li>
                  a) a folder named `dist/templates` with all template html files and structure,
                  from the src dir in <a href="https://github.com/aotaduy/angular-example">angular-example</a>.
              </li>
              <li>
                  b) a concatenated js file "app.dev.js" for all js files excluding tests,
                  from the src dir in the same repo
                  use gulp-concat
              </li>
              <li>
                  c) a minified js file with the contents of all files excluding tests from the src dir in the same repo
                  use gulp-uglify
              </li>
          </ul>
          </section>
                </section>
                <section>


                <section>
                <h2>Style Guides</h2>
                    <div >
                        <ul>
                            <li>Uniformity</li>
                            <li>Source of truth for code review</li>
                            <li>Improve readability</li>

                        </ul>

                    </div><br>
                    <div>
                        <a href="https://github.com/johnpapa/angular-styleguide/blob/master/a1/README.md">John Papa</a> -
                        <a href="https://github.com/toddmotto/angular-styleguide"> Tod motto </a> -
                        <a href="https://docs.google.com/document/d/1XXMvReO8-Awi1EZXAXS4PzDzdNvV6pGcuaF4Q9821Es/pub"> Google </a>

                    </div>
                </section>
                <section>
                    <h3>Important Patterns</h3>
                    <ul>
                      <li><a href="https://github.com/johnpapa/angular-styleguide/tree/master/a1#style-y001">Single Responsibility</a></li>
                      <li><a href="https://github.com/johnpapa/angular-styleguide/tree/master/a1#style-y010">IIFE</a></li>
                      <li><a href="https://github.com/johnpapa/angular-styleguide/tree/master/a1#style-y024">Named Functions over Anonymous</a></li>
                      <li><a href="https://github.com/johnpapa/angular-styleguide/tree/master/a1#style-y033">Bindable Members Up Top</a></li>
                      <li><a href="https://github.com/johnpapa/angular-styleguide/tree/master/a1#style-y070">Directive</a></li>
                      <li><a href="https://github.com/johnpapa/angular-styleguide/tree/master/a1#style-y032">vm capture var</a></li>
                      <li><a href="https://github.com/johnpapa/angular-styleguide/tree/master/a1#style-y035">Defer Controller Logic to Services</a></li>
                      <li><a href="https://github.com/johnpapa/angular-styleguide/tree/master/a1#style-y060">Separate Data calls</a></li>
                      <li><a href="https://github.com/johnpapa/angular-styleguide/tree/master/a1#style-y061">Return a promise</a></li>
                    </ul>
                </section>
                <section data-markdown>
                  <script type="text/template">
                    ### Named vs Anonymous Functions [[Y024](#style-y024)]

                      - Use named functions instead of assigning an  anonymous.


                      ```javascript
                      /* avoid */
                      angular
                          .module('app')
                          .controller('DashboardController', function() { })
                          .factory('logger', function() { });
                      ```

                      ```javascript
                      /* recommended */

                      // dashboard.js
                      angular
                          .module('app')
                          .controller('DashboardController', DashboardController);

                      function DashboardController() { }
                      ```

                      ```javascript
                      // logger.js
                      angular
                          .module('app')
                          .factory('logger', logger);

                      function logger() { }
                      ```
                  </script>
                </section>

                <section data-markdown>
                	<script type="text/template">
                        ### Bindable Members Up Top
                        ###### [Style [Y033](#style-y033)]

                          - Place bindable members at the top of the controller, alphabetized, and not spread through the controller code.

                          ```javascript
                          /* avoid */
                          function SessionsController() {
                              var vm = this;

                              vm.gotoSession = function() {
                                /* ... */
                              };
                              vm.refresh = function() {
                                /* ... */
                              };
                              vm.search = function() {
                                /* ... */
                              };
                              vm.sessions = [];
                              vm.title = 'Sessions';
                          }
                          ```
                	</script>
                </section>

                <section data-markdown>
                	<script type="text/template">
                        ### Bindable Members Up Top
 *Why?*: Placing bindable members at the top makes it easy to read and to identify which members  can be used in the View.
                          ```javascript
                          /* recommended */
                          function SessionsController() {
                              var vm = this;

                              vm.gotoSession = gotoSession;
                              vm.refresh = refresh;
                              vm.search = search;
                              vm.sessions = [];
                              vm.title = 'Sessions';

                              ////////////

                              function gotoSession() {
                                /* */
                              }

                              function refresh() {
                                /* */
                              }

                              function search() {
                                /* */
                              }
                          }
                          ```
                	</script>
                </section>


                <section>
                    <h3>Exercise</h3>
                    <p>
                        Refactor the app <a href="https://github.com/aotaduy/angular-phonecat-14.git">https://github.com/aotaduy/angular-phonecat-14.git</a> into a main module and a set of submodules by feature using the main patterns present on the style guide.
                    </p>
                </section>
				</section>
                <section>
                <section>

                        <img src="img/protractor-logo.png" alt="Protractor end to end testing for angularJs" />
                        <ul>
                            <li>Runs in a real browser</li>
                            <li>Use native events as a Real user</li>
                            <li>Automatic Waiting</li>
                            <li>BDD Style by default</li>
                        </ul>
                </section>
                <section data-markdown>
                    <script type="text/template">
                    ###Simple Installation
                    Install packages
                    ```bash
                    npm install -g protractor
                    webdriver-manager update
                    webdriver-manager start
                    ```
                    Create ``config.js`` file
                    ```javascript
                    // conf.js
                    exports.config = {
                      framework: 'jasmine',
                      seleniumAddress: 'http://localhost:4444/wd/hub',
                      specs: ['spec.js']
                    }
                    ```
                    </script>
                </section>
                <section data-markdown>
                    <script type="text/template">
                    ###BDD Test
                    ```javascript
                    // spec.js
                    describe('Protractor ', function() {        // Suite
                      beforeEach(function() {                   // Setup
                        browser.get('http://juliemr.github.io/protractor-demo/');
                      });

                      it('should start in zero', function() {   // Spec

                        expect(element(by.binding('latest')).getText()).
                            toEqual('0');                 // Expectation
                      });

                      it('should add one and two', function() {
                        element(by.model('first')).sendKeys(1);
                        element(by.model('second')).sendKeys(2);

                        element(by.id('gobutton')).click();

                        expect(element(by.binding('latest')).getText()).
                            toEqual('5'); // This is wrong!
                      });
                    });
                    ```
                    </script>
                </section>
                <section data-markdown>
                    <script type="text/template">
                    ###Locators
                    ####Template
                    ```html
                    <input type="text" ng-model="username"/>
                    <p>{{person.name}}</p>
                    <div ng-repeat="item in items"><span>...</span></div>
                    <select ng-model="color" ng-options="c for c in colors"> </select>
                    ```
                    #### Protractor specific Locators
                    ```javascript
                    by.model('username');
                    by.binding('person.name')
                    by.repeater('item in vm.items');
                    by.options('c for c in colors');
                    ```
                    #### Inherited from Webdriver
                    ```javascript
                    by.className('a-class'); by.css('.css .selector');
                    by.id('an-id'); by.tagName('a');
                    ```
                    </script>

                </section>

                <section data-markdown>
                    <script type="text/template">
                    ###Actions

                    ```js
                    var el = element(locator);

                    // Click on the element
                    el.click();

                    // Send keys to the element (usually an input)
                    el.sendKeys('my text');

                    // Clear the text in an element (usually an input)
                    el.clear();

                    // Get the value of an attribute, for example value
                    el.getAttribute('value');
                    ```
                    </script>

                </section>
                <section>
                  <h2>Exercise</h2>
                  Using <a href="https://github.com/aotaduy/angular-phonecat-14">https://github.com/aotaduy/angular-phonecat-14 </a>
                  <ul>
                    <li>Create More Expectations for the list, empty case, different phone filter, tablet filter</li>
                    <li>Create a test wich clicks the last link for a dell phone and clicks the link using a binding locator</li>
                    <li>Create a test wich clicks all of the links for tablets</li>
                  </ul>
                </section>
                </section>
            </div>
        </div>

        <script src="lib/js/head.min.js"></script>
        <script src="js/reveal.js"></script>

        <script>
            // More info https://github.com/hakimel/reveal.js#configuration
            Reveal.initialize({
                history: true,
                center: false,

                // More info https://github.com/hakimel/reveal.js#dependencies
                dependencies: [
                    { src: 'plugin/markdown/marked.js' },
                    { src: 'plugin/markdown/markdown.js' },
                    { src: 'plugin/notes/notes.js', async: true },
                    { src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } }
                ]
            });
        </script>
    </body>
</html>
